
.panel {
    height: 270px;
    width: 190px;
    position: relative;
  
    &:hover {
      .card2 {
        filter: blur(1.5px);
      }
    //   .card21 {
    //     background-size: 215% 135%;
    //   }
    //   .card22 {
    //     background-size: 115% 115%;
    //   }
    //   .card23 {
    //     background-size: 155% 115%;
    //   }
      .title {
        color: rgba(255, 255, 255, 0.2);
      }
    //   .border {
    //     border: 1px solid rgba(255, 255, 255, 1);
    //   }
      .slide {
        bottom: 0px;
      }
      .ring2:before,
      .ring2:after {
        transform: translateX(-50%) translateY(-50%) rotate(310deg);
      }
    }
  }
  .ring2,
  .card2,
  .border,
  .slide,
  .line {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .ring2 {
    color: #fffbf1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 200px;
  }
  
  .card2 {
    background: var(--second);
    position: relative;
    transition: all 1s;
    height: 200px;
    width: 200px;
    border-radius: 25%;
  }
  
//   .card21 {
//     background-image: url("https://assets.codepen.io/489403/brazil.jpg");
//     background-repeat: no-repeat;
//     background-size: 200% 120%;
//   }
  
//   .card22 {
//     background-image: url("https://assets.codepen.io/489403/belize.jpg");
//     background-repeat: no-repeat;
//     background-size: 100% 100%;
//   }
  
//   .card23 {
//     background-image: url("https://assets.codepen.io/489403/egypt.jpg");
//     background-repeat: no-repeat;
//     background-size: 140% 100%;
//   }
  
  .ring2:before,
  .ring2:after {
    content: "";
    padding: 150px 100px;
    position: absolute;
    left: 50%;
    width: 115%;
    top: 50%;
    display: block;
    border: 5px solid #50c9c3;
    border-radius: 50%;
    transition: transform 1s;
    transform: translateX(-50%) translateY(-50%) rotate(50deg);
  }
  
  .ring2:before {
    border-color: rgb(90, 96, 135) rgb(90, 96, 135) rgba(0, 0, 0, 0)
      rgba(0, 0, 0, 0);
    z-index: -1;
  }
  
  .ring2:after {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgb(90, 96, 135)
    rgb(90, 96, 135);
  }
  
  .body p {
    text-align: center;
    position: absolute;
  }
  
  .title {
    font-size: 16px;
    font-weight: 700;
    transition: all 1s;
    top: 0;
    color: rgb(90, 96, 135);
  }
  
  .para {
    bottom: 0;
    font-size: 14px;
    padding: 10px;
    margin: 0;
    text-align: center;
  }
  
  .border {
    position: absolute;
    // border: 1px solid rgba(255, 255, 255, 0.5);
    height: 200px;
    width: 200px;
    transition: border 1s;
    overflow: hidden;
  }
  
  .slide {
    height: 200px;
    width: 200px;
    position: absolute;
    bottom: -300px;
    background: rgba(0, 0, 0, 0.5);
    transition: bottom 1s;
    flex-direction: column;
    border-radius: 25%;
  }
  
  .fa-plane {
    font-size: 16px;
  }

  @media screen and (max-width: 1500px) {
    .panel {
      height: 200px;
      width: 150px;
    }
  
    .ring2 {
      font-size: 150px;
    }
  
    .card2 {
      height: 150px;
      width: 150px;
    }
  
    .ring2:before,
    .ring2:after {
      padding: 100px 75px;
    }
  
    .border,
    .slide {
      height: 150px;
      width: 150px;
    }
  
    .slide {
      bottom: -200px;
    }
  }